*{
    margin: 0;
    padding: 0;
}

.bg-main{
    background-color: #00B207;
}
.bg-orange{
    background-color: #FF7A00;
}
.text-main{
    color: #00B207;
}
.bg-black-main{
    background-color: #333333;
    color: #999999;
}
.type-1{
    background-image: url(./Imgs/type-1.png);
}
.type-2{
    background-image: url(./Imgs/type-3.png);
}
.type-3{
    background-image: url(./Imgs/type-2.png);
}
.big-bannar{
    background-image: url(./Imgs/big\ img.jpg);
}
.text-orange{
    color: #FF7A00;
}
.small-bannar-1{
    background-image: url(./Imgs/BG\ \(1\).png);
}
.small-bannar-2{
    background-image: url(./Imgs/BG\ 2.png);
}
.w-15{
    width: 15%;
}
.h-100{
    height: 450px;
    font-family: 'Roboto', sans-serif;
}

.discount-container{
    background-image: url(./Imgs/big\ bannar-2.jpg);
    height: 300px;
}
/* contact css*/
.contact-main-header{
    background-image: url(./Imgs/Breadcrumbs.png);
    height: 100px;
}
.contact-main-map{
    background-image: url(./Imgs/Map\ Image\ \(1\).png);
    height: 300px;
}

.contact-grid{
    grid-template-columns: auto auto;
}

@media screen and (max-width: 768px){
    .w-15{
        width: 30%;
    }
    .contact-main-header{
        display: none;
    }
    .contact-main-map{
       display: none;
    }
}
.deals-container span{
    color: #00B207;
}
.deals-container i{
    color: #00B207;
}
.button-col span{
    color: #00B207;
}
.button-col i{
    color: #00B207;
}
.insta-1{
    background-image: url(./Imgs/Instagram\ Post-1.png);
    height: 160px;
}
.insta-2{
    background-image: url(./Imgs/Instagram\ Post-2.png);
    height: 160px;
}
.insta-3{
    background-image: url(./Imgs/Instagram\ Post-3.png);
    height: 160px;
}
.insta-4{
    background-image: url(./Imgs/Instagram\ Post-4.png);
    height: 160px;
}
.insta-5{
    background-image: url(./Imgs/Instagram\ Post-5.png);
    height: 160px;
}
.insta-6{
    background-image: url(./Imgs/Instagram\ Post-6.png);
    height: 160px;
}
